body {
  background: $secondary;
}

/// SIDE BAR ///

aside {
  float: left;
  width: 40%;

  .sidebar-image {
    position: relative;
    top: 100px;
    z-index: 10;

    img {
      box-shadow: 42px 0 0 -20px $senary;
    }
  }

  .sidebar-alltext-container {
    width: 70%;
		background: $senary;
		margin: 0 0 20% 23%;
    padding-top: 20%;


    .sidebar-about {
      padding-left: 7%;
      width: 80%;

      a {
        color: $quinary;
        font-style: italic;
        font-weight: 700;
        text-decoration: none;
      }
    }

    .recent-posts {
      padding-bottom: 5%;

      h3 {
        padding-left: 5%;
      }

      ul li {
        color: $quinary;
        list-style-type: disc;
        margin-left: 40px;
        padding: 5px 0 5px 1px;
        text-align: left;
        width: 70%;
      }

      a {
        color: #000;
        padding-left: 5%;
        text-decoration: none;
      }
    }
  }
}

/// BLOG POST ///

.blog-inner-wrapper {
  background: $secondary;
}

.blog {
  display: flex;
  flex-direction: row;

  .blog-post-text {
    box-shadow: -8px 8px $tertiary;
    padding: 5%;

    h2 {
      @include section-heading(2.15rem, 700, normal, 0.05rem, normal);
    }
  }
}

.date-writer-color {
  color: $quinary;
}

.blog-post-container {
  bottom: 100px;
  position: relative;
  right: 0;

  .blog-post-image {
    width: 95%;

    img {
      box-shadow: -8px 14px $tertiary;
    }
  }
}

/// COMMENTS SECTION ///

.comments {
  padding-left: 40%;

  h3 {
    padding-left: 2%;
  }

  h2 {
    @include section-heading(1rem, 700, normal, normal, 1.6rem);
    color: $quinary;
  }
}

.jeremy-container,
.julia-container {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.jeremy-image,
.julia-image {
  padding-top: 3%;
}

.jeremy-comment-container,
.julia-comment-container {
  padding-left: 4%;
  width: 75%;
}

/// USER COMMENT FORM ///

.communication-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 0 5% 40%;
  width: 100%;

  input[type="text"],
  input[type="email"] {
    @include input;
    background: $secondary;
    margin-bottom: 4%;
    padding: 0 0 2% 2%;
    width: 45%;
  }

  input[type="email"] {
    margin-left: 4%;
  }

  textarea {
    border: 1px solid $quaternary;
    padding: 2%;
    width: 95%;
  }

  input[type="submit"] {
    background: $quaternary;
    border: none;
    color: $senary;
    font-family: $header-font;
    margin-top: 3%;
    padding: 1%;
    text-decoration: none;
    width: 95%;
  }
}
