.visually-hidden:not(:focus):not(:active) {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link {
  background: white;
  color: black;
  left: -1000px;
  position: absolute;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: $header-font;
}

h2,
h3 {
  font-family: $header-font;
  font-weight: 700;
}

p {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 300;
  line-height: 32px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.site-nav {
  background: darken($primary, 20%);
  width: 100%;

  a {
    color: $senary;
    font-family: $header-font;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.more-info a {
  background: $quaternary;
  color: $senary;
  font-family: $header-font;
  padding: 10px;
  text-decoration: none;

      &:hover {
        background: yellow;
        color: black;
        transition: 0.2s;
      }
}

.inner-wrapper,
.blog-inner-wrapper,
.contact-inner-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding: 1px;
  width: 100%;
}