header {
    @include full-bleed;
    background-image: url(../assets/home-image-1.jpg);
    min-height: 100vh;
    height: auto;
    max-width: 100%;
    padding: 1px;
    position: relative;

    h3 {
        font-size: 2rem;
        color: $secondary;
        display: inline-block;
        padding-left: 20%;
        font-weight: 400;
    }
}

.header-h1-style {
    margin: 0;
    padding: 0;
    text-align: center;

    h1 {
        @include section-heading (8.3rem, 400, left, normal, 0.75);
        color: $tertiary;
        margin-top: 200px;
        z-index:10;
    
        .white {
            color: $secondary;
            display: block;
        }
    } 
 }

 .intruder-plant {
    width: 40%;
    position: absolute;
    top: 320px;
    right: 0px;
 }
   


