// HOME  //

header.home-page {
  @include full-bleed(center);
	@include header-style;
	background-image: url(../assets/home-image-1.jpg);
  min-height: 100vh;
}

.home-h1-style {
  left: 50px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  top: 100px;
  width: 80%;

  h1 {
    @include section-heading(8.3rem, 400, left, normal, 0.75);
    color: $tertiary;
    margin: 20% 0 0 18%;
    z-index: 100;

    .white {
      color: $secondary;
      display: block;
    }
  }
}

.intruder-plant {
  position: absolute;
  right: 0;
  top: 380px;
  width: 600px;
}

// BLOG //

header.blog-page {
  @include full-bleed(contain);
	@include header-style;
  background-image: url(../assets/blog-header-1.jpg);
	min-height: 70vh;
	
  h3 {
    @include planted-in-nav;
  }

  .page-h1-style {
    text-align: left;

    h1 {
			@include section-heading(4rem, 700, left, normal, 4.6rem);      
			color: $tertiary;
      padding: 15% 0 0 15%;
    }
  }
}

// CONTACT //

header.contact-page {
  @include full-bleed(contain);
	@include header-style;
 	background-image: url(../assets/contact-header-1.jpg);
  min-height: 50vh;
 
  .page-h1-style {
    padding: 17% 0 0 10%;
    text-align: left;

    h1 {
      @include section-heading(4rem, 700, left, normal, 4.6rem);
      color: $tertiary;

      .block {
        display: block;
      }
    }
  }
}
