// * HOME PAGE * //

// "What is Planted" section //

.what-is-planted {
    background: $secondary;
    padding: 10% 12%;
   
    .text-section {
        text-align: center;
   
        h2 {
            @include section-heading (2.8rem, 700, center, 1.3px, normal);
        }
        
        a {
            padding: 10px 30px;
        }
    }
}

// "Events" section //

.events {
    .flex-master {
        display: flex;
        flex-direction: row;
    }
}

.event {
    width: 100%;

    .events-image-1 {
        width: 90%;
        position: relative;
        bottom: 80px;
    

        img {
            @include br-yellow-box-shadow;
        }
    }
    
    .text-section-1 {
        @include halfsies (right);
        margin-left: 60px;
        
    }

    .events-image-2 {
        width: 90%;
        position: relative;
        top: 60px;

        img {
            @include bl-yellow-box-shadow;
        }
        
    }

    .text-section-2 {
        @include halfsies (left);
        margin-left: 110px;
    }
    
    h3 {
        @include section-heading (1.6rem, 700, normal, 1px, normal);
    }
}

// "Services" section //

.services {
    background: $secondary;

    .flex-master {
        display: flex;
        flex-direction: row;
        padding: 130px;
    }
    
    .service-1 {
        h3::before {
            @include service-icon-styling;
            content: "\f06c";
        }  

        p {
            padding-left: 65px;
        }
    }

    .service-2 {
        h3::before {
            @include service-icon-styling;
            content: "\f15b";
        }
        
        p {
            padding-left: 60px;
        }
    }

    .service-3 {
        h3::before {
            @include service-icon-styling;
            content: "\f0c0"; 
        }
        
        p {
            padding-left: 65px;
        }
    }

    .service-4 {
        h3::before {
            @include service-icon-styling;
            content: "\f095";
        }  
        p {
            padding-left: 65px;
        }
    }
}



// "Founder" section //

.fullbleed-image img {
    max-width: 100%;
    
}

.founder {
    background: $secondary;

    .flex-master {
        display: flex;
        flex-direction: row;
    }

    .founder-image {
        margin-top: 10px;

        img {
            @include br-yellow-box-shadow;
        }
    }

    .text-section {
        width: 70%;
        padding-left: 50px;

        h3 {
            @include section-heading (2.1rem, 700, normal, 1px, normal);
        }
    }

    .flex-master {
        padding: 130px;
        justify-content: center;
       
    }
}


// Planted Gallery //

.grid-gallery-images {
    padding: 50px 130px;

    .flex-master {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .gallery-image {
            width: calc(100% - 40px);
            padding: 0 20px;
        }
    }


}



