//// GENERAL SECTIONS ACROSS ALL PAGES ////

.flex-master {
    @include breakpoint (range1) {
        display: block;
    }

}
// NAV section //


.site-nav {
    @include breakpoint (range1) {
        display: none;
    }

    @include breakpoint (range2) {
        padding: 0;
        margin: 0 auto;
    }

    ul li {
        @include breakpoint (range2) {
            padding: 0;
        }
    }
}


// HEADER section //

// Home header //

header.home-page,
header.blog-page,
header.contact-page {
    @include breakpoint (range1) {
        background-size: cover;
        background-position: cover;       
        width: auto; 
    }
}

.home-h1-style {
    @include breakpoint (range1) {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        @include breakpoint (range1) {
            @include section-heading (3rem, 400, center, normal, normal);
            margin: 200px auto;
            text-align: center;
            z-index: 0;
        }

        @include breakpoint (range2) {
            margin: 130px auto;
            text-align: left;
        }
    }
}

.intruder-plant {
    @include breakpoint (range1) {
        display: none;
    }
}

// Blog header // 

// header.blog-page {
//     @include breakpoint (range1) {
//         background-size: cover;
//         background-position: cover;       
//         width: auto; 
//     }
// }

header.blog-page {

    .page-h1-style {
        @include breakpoint (range1) {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        @include breakpoint (range2) {

        }
    }
}

// Contact header // 

header.contact-page {

    @include breakpoint (range1) {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 { 
      @include breakpoint (range1) {
            @include section-heading (2rem, 400, center, normal, normal);
                padding-top: 80px;
                text-align: center;
            }

        .block {
            @include breakpoint (range1) {
                display: none;
            }   
        }
    }
}

//// HOME PAGE ////

.what-is-planted {
    @include breakpoint (range1) {
        padding: 0;
    }

    .text-section h2 {
        @include breakpoint (range1) {
            @include section-heading (1.5rem, 700, center, 1px, normal);
        }
    }
}

// "Events" section
.event {
    @include breakpoint (range2) {
        padding: 30px;
    }
    .events-images-1 {
        @include breakpoint (range2) {    
        }
    }

    .text-section-1,
    .text-section-2 {
        @include breakpoint (range1) {
            width: 320px;
            max-width: 100%;
            margin: 0;
            text-align: center;
        }

        @include breakpoint (range2) {
            text-align: left;
            padding-left: 10px;
            margin: 0;
        }
    
        h3 {
            @include breakpoint (range1) {
                @include section-heading (1.2rem, 700, normal, normal, normal);
            }
        }
    }
}


// "Services" section

.service-1,
.service-2,
.service-3,
.service-4 {
    h3::before {
        @include breakpoint (range1) {
            display: none;
        }
    }
}
// "Founder" section

.fullbleed-image img {
   @include breakpoint (range1) {
    width: 320px;
   }
}

.founder {

    .founder-image {
        @include breakpoint (range1) {
            margin: 0;
            padding: 0;
        }

        @include breakpoint (range2) {
            width: 120%;
            padding-left: 0;
        }
    }
} 

.founder-image {
    img {
        @include breakpoint (range1) {
            width: 320px;
        }
    }
}
    