//// GENERAL SECTIONS ACROSS ALL PAGES ////

// .flex-master {
//     @include breakpoint (range1) {
//         display: initial;
//     }
// }
// NAV section //


.site-nav {
    @include breakpoint (range1) {
        display: none;
    }

    @include breakpoint (range2) {
   
    }

    ul li {
        @include breakpoint (range2) {
           
        }
    }
}


// HEADER section //

// Home header //

header.home-page,
header.blog-page,
header.contact-page {
    @include breakpoint (range1) {
        background-size: cover;
        background-position: cover;       
        width: auto; 
    }
}

.home-h1-style {
    @include breakpoint (range1) {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        @include breakpoint (range1) {
            @include section-heading (3rem, 400, center, normal, normal);
            margin: 200px auto;
            text-align: center;
            z-index: 0;
        }

        @include breakpoint (range2) {
            margin: 130px auto;
            text-align: left;
        }
    }
}

.intruder-plant {
    @include breakpoint (range1) {
        display: none;
    }
}

// Blog header // 

// header.blog-page {
//     @include breakpoint (range1) {
//         background-size: cover;
//         background-position: cover;       
//         width: auto; 
//     }
// }

header.blog-page {

    .page-h1-style {
        @include breakpoint (range1) {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}

// Contact header // 

header.contact-page {

    @include breakpoint (range1) {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 { 
      @include breakpoint (range1) {
            @include section-heading (2rem, 400, center, normal, normal);
                padding-top: 80px;
                text-align: center;
            }

        .block {
            @include breakpoint (range1) {
                display: none;
            }   
        }
    }
}

//// HOME PAGE ////

.what-is-planted {
    @include breakpoint (range1) {
        padding: 3%;
    }

    .text-section h2 {
        @include breakpoint (range1) {
            @include section-heading (1.5rem, 700, center, 1px, normal);
        }
    }
}

// "Events" section


.events {
    .flex-master {
        @include breakpoint (range1) {
             display: block;
        }
    }

    @include breakpoint (range2) {
        padding: 30px;
    }
    .events-image-1 {
        @include breakpoint (range1) {
            width: auto;
            position: initial;
            margin-top: 1%;
        }
        
        img {
            @include breakpoint (range1) {    
            box-shadow: none;
        }
    }
}

    .events-image-2 {
        @include breakpoint (range1) {
            width: auto;
            position: initial;
            margin-top: 1%;
        }

        img {
            @include breakpoint (range1) {
                box-shadow: none;
                padding-top: 4%;
            }
        }
    }


    .text-section-1,
    .text-section-2 {
        @include breakpoint (range1) {
            width: 320px;
            max-width: 100%;
            margin: 0;
            text-align: center;
        }

        @include breakpoint (range2) {
            text-align: left;
            padding-left: 10px;
            margin: 0;
        }
    
        h3 {
            @include breakpoint (range1) {
                @include section-heading (1.2rem, 700, normal, normal, normal);

            }
        }
    }
}


// "Services" section

.services {
    .flex-master {
        @include breakpoint (range1) {
            display: block;
            padding: 0;
        }
    }
}

.service-1,
.service-2,
.service-3,
.service-4 {

    h3 {
        @include breakpoint (range1) {
            margin: 0;
            padding: 20px;
            text-align: center;
        }
    }
    h3::before {
        @include breakpoint (range1) {
            display: none;
        }
        }
    p {
        @include breakpoint (range1) {
            width: 300px;
            padding: 0;
            margin: 0;
        }   
    }
    }
// "Founder" section

.fullbleed-image img {
   @include breakpoint (range1) {
    display: none;
   }
}

.founder {
    .flex-master {
        @include breakpoint (range1) {
            display: block;
        }
    }

    .founder-image {
        @include breakpoint (range1) {
            text-align: center; 
            margin: 0;
            padding: 0;
        }

        @include breakpoint (range2) {
            width: 120%;
            padding-left: 0;
        }
    
        img {
            @include breakpoint (range1) {
                box-shadow: none;
            }
        }
    }

    .founder-text {
        @include breakpoint (range1) {
            width: 100%; 
            text-align: center;
        }

        h3 {
            @include breakpoint (range1) {
                @include section-heading (1.3rem, 700, normal, 0.04rem, normal);
                width: 100%;
                padding-top: 10%;
                margin: 0;
            }

        }
           
    }
}

// Planted Gallery // 

.grid-gallery-images {
    @include breakpoint (range1) {
        padding: 1%;
    }
    .gallery-image:nth-child(2) {
        @include breakpoint (range1) {
            display: none;
        }
    }
}
    

//// BLOG PAGE ////

aside {
    @include breakpoint (range2) {
        float: none;
    }
    .sidebar-image {
        @include breakpoint (range2) {
            position: none;
            z-index: 0;
        }
    }

    .sidebar-alltext-wrapper {
        @include breakpoint (range2) {
            padding-top: 450px;
            width: auto;
            margin: 0;
        }
    }

    .sidebar-text {
        @include breakpoint (range2) {
            width: 100%;
            padding-left: 0;
            margin: 0;
        }
    }
}
