
.site-nav {
    padding: 10px 0 0 65px;

    h3 {
        display: block;
        float: left;
        padding-left: 90px;

    }
    ul {
        display: flex;
        flex-direction: row;
        

        li {
            padding: 10px 30px;
            @include yellow-hover;

            &:first-child {
                padding-left: 60px;
            }
        
        }
    }
}


