.home-page {
    .flex-master {
        display: flex;
        flex-direction: row;
    }
}

.site-nav {
    padding: 1% 0 0 4%;

    h3 {
        @include planted-in-nav;

    }
    ul {
        display: flex;
        flex-direction: row;
        

        li {
            padding: 1% 2%;
            @include yellow-hover;

            &:first-child {
                padding-left: 5%;
            }
        
        }
    }
}


