$primary: #2c2c2c; /* black */
$secondary: #f0efed; /* off-white */
$tertiary: #f8e71c; /* sunny yellow */
$quaternary: #0e902d; /* green */
$quinary: #074115; /* forest green */
$senary: #ffffff; /* white */
$header-font: 'Josefin Sans', 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

@mixin header-style {
    height: auto;
    max-width: 100%;
    padding: 1px;
    position: relative;
}

@mixin planted-in-nav {
    font-size: 2rem;
    color: $secondary;
    font-weight: 400;
    margin: 0;
}

@mixin full-bleed {
    background-size: cover;
    background-position: center;
}

@mixin margin-padding-0 {
    margin: 0;
    padding: 0;
}

@mixin section-heading ($font-size, $font-weight, $text-align, $letter-spacing, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $tertiary;
    text-align: $text-align;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin halfsies ($text-align) {
    width: 75%;
    text-align: $text-align;
}

@mixin service-icon-styling {
    font-family: 'Font Awesome 5 Free';
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    background: $tertiary;
}

@mixin br-yellow-box-shadow {
    box-shadow: 15px 15px 0 1px $tertiary; 
}

@mixin bl-yellow-box-shadow {
    box-shadow: -15px 15px $tertiary;
}